@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

body {
  background-color: #26292c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
body h1 {
  color: #FFF;
  margin-bottom: 1rem;
}
body main {
  width: 350px;
  min-height: 280px;
  background-color: #1c1d21;
  border-radius: 1em;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body main h2 {
  color: #729d2d;
  text-align: center;
}
body main p, body main span {
  color: #FFF;
  text-align: center;
}
body main #clp-input {
  width: 100px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}
body main #currency-select {
  font-size: 1.2rem;
}
body main #convert-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #729d2d;
  color: #FFF;
  border: none;
  font-size: 1.2rem;
}
body main #convert-btn:hover {
  background-color: #5c861a;
  cursor: pointer;
}
body main #result {
  font-size: 2.3rem;
  font-family: "Roboto Mono", monospace;
}
body #error {
  color: #ff403d;
  text-align: center;
  margin-top: 1rem;
  line-height: 10px;
}