@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap');

$fs: 1.2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #26292c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  h1{
    color: #FFF;
    margin-bottom: 1rem;
  }
  
  main {
    width: 350px;
    min-height: 450px;
    background-color: #1c1d21;
    border-radius: 1em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2, p, span {
      color: #FFF;
      text-align: center;
    }

    #clp-input{
      width: 100px;
      text-align: center;
      font-family: 'Roboto Mono', monospace;
      font-size: $fs
    }

    #currency-select{
      font-size: $fs;
    }

    #convert-btn{
      padding: 10px;
      border-radius: 5px;
      background-color: #0aadc6;
      color: #FFF;
      border: none;
      font-size: $fs;
      &:hover{
        background-color: #1594a7;
        cursor: pointer;
      }
    }
  }
}