@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #26292c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
body h1 {
  color: #FFF;
  margin-bottom: 1rem;
}
body main {
  width: 350px;
  min-height: 450px;
  background-color: #1c1d21;
  border-radius: 1em;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body main h2, body main p, body main span {
  color: #FFF;
  text-align: center;
}
body main #clp-input {
  width: 100px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}
body main #currency-select {
  font-size: 1.2rem;
}
body main #convert-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #0aadc6;
  color: #FFF;
  border: none;
  font-size: 1.2rem;
}
body main #convert-btn:hover {
  background-color: #1594a7;
  cursor: pointer;
}